= simple_form_for @client, html: {class: "form"} do |f|
  = f.input :first_name, label: "First name:"
  = f.input :last_name, label: "Last name:"
  = f.input :middle_initial, label: "MI:"
  = f.input :name_suffix, label: "Suffix:"
  = f.input :gender, label: "Gender:"
  = f.input :dob, label: "DOB", start_year: Time.now.year - 100, end_year: Time.now.year, order: [:month, :day, :year], required: false
  = f.input :phone_number, label: "Phone:"
  = f.input :email_address, label: "Email:"
  = f.input :address_line1, label: "Address line 1:"
  = f.input :address_line2, label: "Address line 2:"
  = f.input :city, label: "City:"
  = f.input :state, label: "State"
  = f.input :zip_code, label: "Zip:"
  = f.input :description, label: "Description:"
  = f.button :submit
