%h1 #{@client.last_name}, #{@client.first_name} #{@client.middle_initial}. #{@client.name_suffix}
%p Gender: #{@client.gender}
%p DOB: #{@client.dob}
%p Phone: #{@client.phone_number}
%p Email: #{@client.email_address}
%p Address: #{@client.address_line1}
%p Address: #{@client.address_line2}
%p City: #{@client.city}
%p State: #{@client.state}
%p Zip: #{@client.zip_code}
%p Description: #{@client.description}

= link_to "All Clients", clients_path
= link_to "Edit", edit_client_path(@client)
= link_to "Delete", client_path(@client), method: :delete, data: {confirm: "Are you sure?" }
