<%= simple_form_for @tag do |f| %>
    <%= f.input :name, label: "Tag:" %>
    <%= f.input :description, label: "Description:" %>
    <%= f.input :type_of, as: "hidden", value: "client" %>
    <%= f.input :user_id, as: "hidden", value: current_user.id %>
    <%= f.button :submit %>
<% end %>