<!DOCTYPE html>
<html>
<head>
  <title>Clientmanager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/clients/">Client Manager</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li>
                <%= link_to "Home", root_path, class: "active" %>
              </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
                <li>User: <strong><%= current_user.email %></strong></li>
                <li>
                  <%= link_to "Account", edit_user_registration_path %>
                </li>
                <li>
                  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
                </li>
            <% else %>
                <li>
                  <%= link_to "Sign Up", new_user_registration_path %>
                </li>
                <li>
                  <%= link_to "Sign In", new_user_session_path %>
                </li>
            <% end %>
            </ul>
          </div>
        </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

</body>
</html>
